<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3c2mCVBQwOIWD5ngiq4D7srSCHpB-Syc</string>
	<key>GCM_SENDER_ID</key>
	<string>495042873281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UC-Berkeley-Cubstart.Pomo-do</string>
	<key>PROJECT_ID</key>
	<string>pomotasklist</string>
	<key>STORAGE_BUCKET</key>
	<string>pomotasklist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495042873281:ios:d6a3f046f0a4e8ece15140</string>
</dict>
</plist>